{% load i18n %} 
{% load url from future %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'warcraft/css/inbox_style.css' %}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>        
        <script type="text/javascript" src="{% static 'warcraft/js/jscript-inbox.js' %}"></script>
        <link rel="stylesheet" href="{% static 'warcraft/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'warcraft/css/bootstrap.css' %}">
        <title>ChrisCraft: {{ request.user.firstName }}'s Inbox</title>
    </head>


<body>


  <div class="tab-pane active" id="inbox">
      
      <div class="back-box box" style="display: block;">
           <div class="content-container clearfix">
               <div class="col-md-12">
               
               <a href="/messages/compose" style="display:right;" class ="btn">Compose  <span class="glyphicon glyphicon-pencil"></span></a>
                   <a href="/messages/outbox" style="display:right;" class ="btn">Sent Mail  <span class="glyphicon glyphicon-send"></span></a>
                   <a href="/messages/trash" style="display:right;" class ="btn">Trash  <span class="glyphicon glyphicon-trash"></span></a>
                   <a style="float: right; margin: 5px; font-size: 1.4em;" href="/accounts/edit">Profile</a>
                   <a style="float: right; margin: 5px; font-size: 1.4em;" href="/accounts/loggedin">Home</a>
                   <br />
                   <br />
               
                   <h1 class="content-title">{{ request.user.firstName }}'s Inbox</h1> 
                   
                   
                   <!--<input type="search" placeholder="Search Mail" class="form-control mail-search" /> -->
                  
                     
                     {% block content %}
                   <ul class="mail-list">
                     
    
                            
                            {% if message_list %} 
                            
                            {% for message in message_list %} 
                                <span style="float:right;"><a href="{% url 'messages_delete' message.id %}">{% trans "delete" %}</a></span>
                            
                                 <li>
                                    <a href="{{message.get_absolute_url }}">
                                        <span class="mail-sender">{{ message.sender }}</span>
                                        <p style="text-align:left;">
                                        {{ message.subject }}
                                        <span style="float:right;">{{ message.sent_at|date:_("DATETIME_FORMAT") }}</span>
                                        </p>
                                        <!--<span class="mail-message-preview">You have ten more subscriptions click her...</span>-->
                                    </a>
                                 </li>
                                        {% if message.new %}<strong>{% endif %}
                                        {% if message.replied %}<em>{% endif %}
                                        {% if message.replied %}</em>{% endif %}
                                        {% if message.new %}</strong>{% endif %}</td>
                                    <!--<td><a href="{% url 'messages_delete' message.id %}">{% trans "delete" %}</a></td>-->
                                </tr>
                            {% endfor %}
                                <!--</tbody> -->
                            </table>
                            {% else %}
                            <p>{% trans "No messages." %}</p>
                            {% endif %}  
                        
                      
                   </ul>
                   {% endblock %}
               </div>
           </div>
       </div>
      </div>
  <!--</div>-->



</body>

    
</html>