{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    
    <head>

        <link rel="stylesheet" type="text/css" href="{% static 'warcraft/css/change_password.css' %}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>        
        <title>Password Reset Done</title>
    
    </head>
 
<body>

<section class="container">
            <div class="pass animate fadeIn one">

{% block content %}

<h1>Password Reset Email Sent!</h1>

<h3>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</h3>

<p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>

{% endblock %}

<h3>Click <a href="/accounts/login">here</a> to return to the login page.</h3>


</div>
</section> 


</body>
</html>