{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    
    <head>

        <link rel="stylesheet" type="text/css" href="{% static 'warcraft/css/change_password.css' %}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>        
        <title>ChrisCraft Account Activation</title>
    
    </head>
 
<body>

<section class="container">
    <div class="pass animate fadeIn one">

{% block content %}

    <h2>ChrisCraft Activation</h2>
    {{ message }}
    <p>Click <a href = "/accounts/login">here</a> to login again.</p>


{% endblock %}


    </div>
</section>

</body>

</html>