{% load staticfiles %}
<!-- change password success html -->


<!DOCTYPE html>
<html lang="en">
    
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'warcraft/css/change_password.css' %}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>        
        <title>ChrisCraft Change Password</title>
   
    </head>
 
    {% block content %}

    <body>
    
        <section class="container">
            <div class="pass animate fadeIn one">

                <h2>Password successfully updated!</h2>
                <h3>Click <a href="/accounts/login/">here</a> to log in again.</h3>

            </div>
        </section>


    </body>
    
{% endblock %}

</html>