{% load staticfiles %}
<!-- change password html -->


<!DOCTYPE html>
<html lang="en">
    
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'warcraft/css/change_password.css' %}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>        
        <title>ChrisCraft Change Password</title>
   
    </head>
 
    {% block content %}

    <body>
    
        <section class="container">
            <div class="pass animate fadeIn one">

                <h2>Change Password</h2>
                <h4>Please enter your new password:</h4>
            
                <form class="animate fadeIn one" enctype="multipart/form-data" action="/accounts/change_password/" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br>
                    <input type="SUBMIT" value="Update"/>
                </form>

            </div>
        </section>

    </body>
    </html>


    {% endblock %}