{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ChrisCraft: Tides of Nitta Home</title>

    <!-- Bootstrap Core CSS -->
    <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="{% static 'warcraft/css/bootstrap.css' %}">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'warcraft/css/full-slider.css' %}">
    
    <!-- Custom Font -->
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/autopia" type="text/css"/>
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- <audio><source src="{% static 'warcraft/intro.mp3' %}"></audio> -->


    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="{% static 'warcraft/images/home/tiny_logo.png' %}"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="/ranking">&nbsp;&nbsp;<i class="glyphicon glyphicon-fire"></i>&nbsp;&nbsp;RANKING</a>
                    </li>
                    <li>
                <       <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Find other users now!"><i class="glyphicon glyphicon-globe"></i>&nbsp;&nbsp;ONLINE USERS<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/web-players-status">WEB PLAYERS</a>
                                </li>
                                <li>
                                    <a href="/game-players-status">GAME PLAYERS</a>
                                </li>
                            </ul>
                        </li>
                    </li>
                    <li>
                        <a href="#"><i class="glyphicon glyphicon-comment"></i>&nbsp;&nbsp;FORUMS</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">  
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Join the battle!">LOGIN/REGISTER&nbsp;&nbsp;<i class="glyphicon glyphicon-queen"></i><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li style= "float: right;">  
                                <a href="/accounts/login">LOGIN&nbsp;&nbsp;</a>
                            </li>
                            <li style= "float: right;">  
                                <a href="/accounts/register">REGISTER&nbsp;&nbsp;</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Full Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url({% static 'warcraft/images/home/Splash_map2.png' %});"></div>
                <div class="dwnld-button">
                        <a href="" class="DLButton" style="color:#ffffff" ><b>DOWNLOAD</b></a>
                </div> 
  
                <!--<audio controls><source src="{% static 'warcraft/intro.mp3' %}"></audio>-->

            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill2" style="background-image:url(/static/warcraft/images/home/Splash_2.png);">
                    <a href="/accounts/login">
                        <div class="imgBox1"></div>
                    </a>
                    <a href="/accounts/register">
                        <div class="imgBox2"></div>
                    </a>
                </div>
            </div>
        </div>
            
            <!-- FORUMN SLIDE: TBD
            <div class="item">
                <!-- Set the third background image using inline CSS below.
                <div class="fill3" style="background-image:url({% static 'warcraft/images/castle.jpg' %});"></div>
                <div class="carousel-caption">
                    <h1>JOIN FORUMS OR SOMETHING</h1>
                </div>
            </div>
        </div> -->

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev" style="font-size: 90px;"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next" style="font-size: 90px;"></span>
        </a>

    </header>

    <!-- Page Content -->
   <!-- 
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1>Full Slider by Start Bootstrap</h1>
                <p>The background images for the slider are set directly in the HTML using inline CSS. The rest of the styles for this template are contained within the <code>full-slider.css</code>file.</p>
            </div>
        </div>

        <hr>

        <!-- Footer 
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row 
        </footer>

    </div>
    <!-- /.container -->


    <!-- jQuery -->
    <script src="{% static 'warcraft/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'warcraft/js/bootstrap.min.js' %}"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 15000 //changes the speed
    })
    </script>

</body>

</html>

<!--  DROP DOWN LOGIN  
    <ul> 
        <li><a href="login.html" class="loginButton">login</a>
                
        </li> 
    </ul>
    
    jQuery(document).ready(function(){
   var formHTML  = '<form id="loginform" method="post">'; 
   formHTML += '<input type="text" name="username" id="username" value="username" />';  
   formHTML += '<input type="password" name="userpass" id="userpass" value="password" /> '; 
   formHTML += '<button type="submit">Login</button>'; 
   formHTML += '</form>'; 
   jQuery("#loginButton").append(formHTML);
}
                    -->

