<!-- login.html -->
{% load staticfiles %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        
        <link rel="stylesheet" type="text/css" href="{% static 'warcraft/css/login_style.css' %}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>        
        <title>ChrisCraft Login</title>
   
    </head>
 
    <body>

    {%block content%}
    

        <section class="container">
            <div class="login animate fadeIn one">
            
            
            <h1 class="animate fadeIn one">Login to ChrisCraft: Tides of Nitta</h1>
        
            <!--    <form action="/accounts/login/" method='post'> {% csrf_token %}
                    <p><label id="username" for="username">Username: </label>
                    <input type="text" name ="username" value="" placeholder="Username" id="username"></p>
                    <p><label id="username" for="password">Password: </label>
                    <input type="password" name ="password" value="" placeholder="Password" id="password"></p>
                    <p><input type="submit" name="commit" value="Login"></p>
                   
                </form>-->
                
                
            <form class="animate fadeIn one" action="/accounts/login/" method='post'>                
               {% csrf_token %}
               {{ form.as_p }}
                <p><input type="submit" name="commit" value="LOGIN"></p>
            </form>
            </div>
            
            <div class="login-mobile-form">
                <form class="animate" action="/accounts/login/" method='post'>                
                   {% csrf_token %}
                   {{ form.as_p }}
                    <p><input type="submit" name="commit" value="LOGIN"></p>
                </form>
            </div>
            
            
            <!--<div class="login-help">
                {%if form.errors %}
                    <p class = 'error'> Sorry invalid username or password</p>
                {% endif %}
            </div>-->
            <div class="login-help">
                <p>Forgot your password? <a href="/accounts/password_reset">Click here to reset it</a>.</p>
                <p>Don't have an account? <a href="/accounts/register">Click here to Register</a>.</p>
                <p>Want to go back home? &nbsp;&nbsp;&nbsp;<a href="/warcraft"><img src="{% static 'warcraft/images/home.png' %}"></a></p>
            </div>  
            
            
        </section>

    {% endblock %}
    

    </body>
</html>    
    
